*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Brush Script MT', cursive;
}

body{
    
    font-family: 'Brush Script MT', cursive;
    background-image: url("a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
}
.main .calculator{
	position: relative;
	height: 450px;
	width: 400px;
    border:1px solid #000;
    box-shadow: -5px 8px 30px 13px rgba(0,0,0,1);
-webkit-box-shadow: -5px 8px 30px 13px rgba(0,0,0,1);
-moz-box-shadow: -5px 8px 30px 13px rgba(0,0,0,1);
    background: #000000;
   
}
.main .calculator div{
	height: calc(450px/6);
	width: 100%;
	display: flex;
	flex:1;
}
.main .calculator div input{
	height: 100%;
	width: 100%;
	font-size: 2.5em;
    font-weight: 500;
    background-color: rgb(250, 250, 253);
}



