body{
    background-color: #f4f4f4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: ridge;
    border-color: blue;
}

.container-fluid1{
    background: url("z.jpg");
    background-color: black;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    width: 100%;
    margin-bottom: 200px;
    background-attachment: fixed;  
}

#img-div{
 background-position: center;
 background-color: black;
}

#image{
    background-position: center;
    background-color: black;
}

#title{
    color: black;
    text-align: center;
}


#img-caption{
    text-align: center;
    color: black;
    justify-content: center;
    font-size: large;
}



#tribute-info{
    text-align: center;
    justify-content: center;
    font-size: 300%;
}


#tribute-link{
    text-align: center;
    font-size: large;
    font-size: 200%;
}



.container-fluid2{
    background: url("x.jpg");
    background-color: black;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    width: 100%;
    margin-bottom: 200px;
    background-attachment: fixed;  
}

.container-fluid3{
    background: url("c.jpg");
    background-color: black;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    width: 100%;
    margin-bottom: 200px;
    background-attachment: fixed;  
}

.card{
    margin-top: 200px;
    margin-bottom: 100px;
  
}